:root {
  --fundo_floresta: url('../../assets/backgrounds/forest.png');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

.combat-screen{
  background-image: var(--fundo_floresta);
}

.combat-screen {
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: center;
}

.main {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.inventory-body {
  padding: 15px;
}

#inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.shop-body {
  padding: 15px;
}

#shop-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-quantity {
  color: #00e1ff;
  font-weight: bold;
}